<section id="sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

            
        <p style="text-align: justify; color: aliceblue;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus ad ullam accusamus voluptatum omnis
            ea adipisci, enim veniam facere et esse dolores quibusdam placeat distinctio ex eius rem repellendus

            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus ad ullam accusamus voluptatum omnis
            ea adipisci, enim veniam facere et esse dolores quibusdam placeat distinctio ex eius rem repellendus.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus ad ullam accusamus voluptatum omnis
            ea adipisci, enim veniam facere et esse dolores quibusdam placeat distinctio ex eius rem repellendus.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus ad ullam accusamus voluptatum omnis
            ea adipisci, enim veniam facere et esse dolores quibusdam placeat distinctio ex eius rem repellendus.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus ad ullam accusamus voluptatum omnis
            ea adipisci, enim veniam facere et esse dolores quibusdam placeat distinctio ex eius rem repellendus.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus ad ullam accusamus voluptatum omnis
            ea adipisci, enim veniam facere et esse dolores quibusdam placeat distinctio ex eius rem repellendus.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus ad ullam accusamus voluptatum omnis
            ea adipisci, enim veniam facere et esse dolores quibusdam placeat distinctio ex eius rem repellendus.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus ad ullam accusamus voluptatum omnis
            ea adipisci, enim veniam facere et esse dolores quibusdam placeat distinctio ex eius rem repellendus.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus ad ullam accusamus voluptatum omnis
            ea adipisci, enim veniam facere et esse dolores quibusdam placeat distinctio ex eius rem repellendus.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus ad ullam accusamus voluptatum omnis
            ea adipisci, enim veniam facere et esse dolores quibusdam placeat distinctio ex eius rem repellendus.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus ad ullam accusamus voluptatum omnis
            ea adipisci, enim veniam facere et esse dolores quibusdam placeat distinctio ex eius rem repellendus.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus ad ullam accusamus voluptatum omnis
            ea adipisci, enim veniam facere et esse dolores quibusdam placeat distinctio ex eius rem repellendus.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus ad ullam accusamus voluptatum omnis
            ea adipisci, enim veniam facere et esse dolores quibusdam placeat distinctio ex eius rem repellendus.</p>
    </div>
    </div>
    </div>
</section>