<section id="sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

                <h1 class="text-center" style="color: white;margin-top:10%;letter-spacing: 1px;">Rashid Hassain</h1>
                <h6 class="text-center" style="color: white;margin-top:8px;letter-spacing: 1px;">Web Development and Designing..
                </h6>
                <div class="text-center mt-4"><button mat-raised-button color="accent">See more</button></div>
            </div>

        </div>
    </div>
</section>

<section id="sec1" class="bg-light p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center mt-5">Services</h3>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-4">
                    <mat-card class="example-card">

                        <img mat-card-image src="../../assets/helloquence-5fNmWej4tAA-unsplash.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p style="text-align: justify;">
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="text-center"><button mat-raised-button color="primary">See More</button></div>
                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">

                        <img mat-card-image src="../../assets/helloquence-5fNmWej4tAA-unsplash.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p style="text-align: justify;">
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="text-center"><button mat-raised-button color="primary">See More</button></div>
                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">

                        <img mat-card-image src="../../assets/helloquence-5fNmWej4tAA-unsplash.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p style="text-align: justify;">
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="text-center"><button mat-raised-button color="primary" routerLink="/">See More</button></div>
                        </mat-card-actions>
                    </mat-card>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="sec2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 mt-5">
                <h3 class="text-center mt-5">Our Clients</h3>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <mat-tab-group>
            <mat-tab label="First">
                <div class="card">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magnam fugit cum autem, ab aliquam numquam. Dicta, quibusdam placeat quae, deleniti quia nobis ratione sunt cumque illo dignissimos eligendi minus!Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Ducimus magnam fugit cum autem, ab aliquam numquam. Dicta, quibusdam placeat quae, deleniti quia nobis ratione sunt cumque illo dignissimos eligendi minus!
                        </p>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Second">
                <div class="card">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magnam fugit cum autem, ab aliquam numquam. Dicta, quibusdam placeat quae, deleniti quia nobis ratione sunt cumque illo dignissimos eligendi minus!Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Ducimus magnam fugit cum autem, ab aliquam numquam. Dicta, quibusdam placeat quae, deleniti quia nobis ratione sunt cumque illo dignissimos eligendi minus!
                        </p>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Third">
                <div class="card">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magnam fugit cum autem, ab aliquam numquam. Dicta, quibusdam placeat quae, deleniti quia nobis ratione sunt cumque illo dignissimos eligendi minus!Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Ducimus magnam fugit cum autem, ab aliquam numquam. Dicta, quibusdam placeat quae, deleniti quia nobis ratione sunt cumque illo dignissimos eligendi minus!
                        </p>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Third">
                <div class="card">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magnam fugit cum autem, ab aliquam numquam. Dicta, quibusdam placeat quae, deleniti quia nobis ratione sunt cumque illo dignissimos eligendi minus!Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Ducimus magnam fugit cum autem, ab aliquam numquam. Dicta, quibusdam placeat quae, deleniti quia nobis ratione sunt cumque illo dignissimos eligendi minus!
                        </p>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Third">
                <div class="card">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magnam fugit cum autem, ab aliquam numquam. Dicta, quibusdam placeat quae, deleniti quia nobis ratione sunt cumque illo dignissimos eligendi minus!Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Ducimus magnam fugit cum autem, ab aliquam numquam. Dicta, quibusdam placeat quae, deleniti quia nobis ratione sunt cumque illo dignissimos eligendi minus!
                        </p>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Third">
                <div class="card">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magnam fugit cum autem, ab aliquam numquam. Dicta, quibusdam placeat quae, deleniti quia nobis ratione sunt cumque illo dignissimos eligendi minus!Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Ducimus magnam fugit cum autem, ab aliquam numquam. Dicta, quibusdam placeat quae, deleniti quia nobis ratione sunt cumque illo dignissimos eligendi minus!
                        </p>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Third">
                <div class="card">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magnam fugit cum autem, ab aliquam numquam. Dicta, quibusdam placeat quae, deleniti quia nobis ratione sunt cumque illo dignissimos eligendi minus!Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Ducimus magnam fugit cum autem, ab aliquam numquam. Dicta, quibusdam placeat quae, deleniti quia nobis ratione sunt cumque illo dignissimos eligendi minus!
                        </p>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>



    </div>
</section>