#sec{

    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('../../assets/helloquence-5fNmWej4tAA-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 55vh;
}